html, body {
    background: #ffeead;
}

h1, h2, p{
    color: #ff6f69;
}

#navbar ul li {
    display: inline;
}

#navbar a {
    color: #ff6f69
}

main {
    width: 80%;
    margin: 0 auto;
}

.grid {
    display: inline;
}

.item {    
    width: 44%;
    background: #ffcc5c;
    margin: 1%; 
    padding: 2%;
}

.left {
    float: left;
}
.right {
    float: right;
}

button {
    background: #ff6f69;
    color: #ffcc5c;
}